<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Session Hello World</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Logged In", "LoggedIn", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Log Out", "LogOut", "Home", null, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        @*<div class="badge bg-secondary">@Session["SessionId"]</div>*@

        @if (this.Session["name"] != null)
        {
            <div class="badge bg-secondary m-1">@@@Session["name"]</div>
        }

        @RenderBody()
    </main>

    <footer class="container-fluid bg-light fixed-bottom text-lg-center">
        <span class="fs-6">&copy; @DateTime.Now.Year - My ASP.NET (MVC) Application</span>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
